<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <style>
        #qr {
            text-align: center;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <div id="qr">
            <a th:href="${url}"><img th:src="@{'data:image/png;base64,'+${qr}}" /></a>
        </div>
        <div id="game-control" class="element mb-3">
            <h2>Podio</h2>
            <div id="buzzers"></div>
        </div>
        <div id="teams-control" class="element mb-3">
            <div th:replace="~{fragments/teams}"></div>
        </div>
    </div>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/kiosk.js}"></script>
    </th:block>
</body>
</html>
